/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility */
a {
  text-decoration: none;
}
.current,
.text-primary {
  color: goldenrod;
}
.btn {
  display: inline-block;
  font-size: 15px;
  color: white;
  background: black;
  padding: 13px 20px;
  border: outline
  cursor: pointer;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  overflow: auto;
}

h1, h2, h3, h4,  {
  padding-bottom: 20px
}

.bg-dark {
  background: #333333;
  color: white}

p {
  margin 10px 0;
}

/* Navbar */
nav {
  background: #333333;
  color: white;
  overflow: auto;
}
nav a {
  color: white;
}

nav h1 {
  float: left;
  padding: 20px;
}
nav ul {
  float: right;
  overflow: auto;
  list-style: none;
}

nav ul li {
  float: left;
  padding: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-align: center;
}

#nav ul li a.current,
nav ul li a:hover {
  background: #444;
  color: peachpuff;
}
*/*Showcase*/
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 400px;
  color: white;
  text-align: center;
  padding-top: 100px;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.5em;
}
#showcase p {
  font-size: 20px;
  line-height: 1.2em;
  padding-bottom: 20px;
  color: white;
  padding-bottom: 20px;
}

/* Home Info */
#home-info {
  height: 300px;
}
#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  min-height: 100%;
  text-align: center;
  line-height: 1.2em;
  padding: 30px;
  overflow: hidden;
  background: gray
}
#home-info .info-content p {
  margin-bottom: 50px
}
  /*Features */

  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center
  }